@font-face {
  font-family: "iconfont"; /* Project id 4529857 */
  src: url('iconfont.woff2?t=1716262095554') format('woff2'),
       url('iconfont.woff?t=1716262095554') format('woff'),
       url('iconfont.ttf?t=1716262095554') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chacha1:before {
  content: "\e623";
}

.icon-zuojiantou:before {
  content: "\e622";
}

.icon-comment-v2:before {
  content: "\e9b0";
}

.icon-zhidingjiantou:before {
  content: "\e624";
}

.icon-zhuanfa:before {
  content: "\e6bb";
}

.icon-yincangmimamima:before {
  content: "\e7a8";
}

.icon-xianshimima:before {
  content: "\e730";
}

.icon-chacha:before {
  content: "\e621";
}

.icon-wodexiaoxi:before {
  content: "\e6ba";
}

.icon-gangbi:before {
  content: "\e693";
}

.icon-liulanlishi:before {
  content: "\e99a";
}

.icon-fankuiyubangzhu:before {
  content: "\e620";
}

.icon-saomiaoerweima:before {
  content: "\e70f";
}

.icon-weixinzhifu:before {
  content: "\e62a";
}

.icon-sangedian-type-1:before {
  content: "\e610";
}

.icon-shezhi:before {
  content: "\e611";
}

.icon-yiping:before {
  content: "\e66a";
}

.icon-shangcheng:before {
  content: "\e639";
}

.icon-kaiguanguan:before {
  content: "\e687";
}

.icon-kaiguankai:before {
  content: "\e688";
}

.icon-kaiguan-kai:before {
  content: "\e612";
}

.icon-kaiguan-guan:before {
  content: "\e613";
}

.icon-comments:before {
  content: "\e614";
}

.icon-screen-big:before {
  content: "\e615";
}

.icon-copy:before {
  content: "\e616";
}

.icon-repair:before {
  content: "\e618";
}

.icon-screening:before {
  content: "\e619";
}

.icon-search:before {
  content: "\e61a";
}

.icon-screen-standard:before {
  content: "\e61b";
}

.icon-share:before {
  content: "\e61c";
}

.icon-skin:before {
  content: "\e61d";
}

.icon-update:before {
  content: "\e61e";
}

.icon-delete:before {
  content: "\e61f";
}

.icon-add:before {
  content: "\e600";
}

.icon-bright:before {
  content: "\e601";
}

.icon-menu:before {
  content: "\e603";
}

.icon-down:before {
  content: "\e604";
}

.icon-down2:before {
  content: "\e605";
}

.icon-forward:before {
  content: "\e606";
}

.icon-book2:before {
  content: "\e607";
}

.icon-search1:before {
  content: "\e609";
}

.icon-shelf:before {
  content: "\e60a";
}

.icon-book:before {
  content: "\e60b";
}

.icon-settings:before {
  content: "\e60c";
}

.icon-person:before {
  content: "\e60d";
}

.icon-up:before {
  content: "\e60f";
}

.icon-yaoqingyouli:before {
  content: "\e608";
}

.icon-wokanguoderen:before {
  content: "\e64c";
}

.icon-zan:before {
  content: "\e617";
}

.icon-fenlei:before {
  content: "\e706";
}

.icon-airudiantubiaohuizhi-zhuanqu_youxi:before {
  content: "\e69d";
}

.icon-xiazai:before {
  content: "\e6ac";
}

.icon-017-webbrowser:before {
  content: "\e691";
}

.icon-zhiyuanfuwu:before {
  content: "\e60e";
}

.icon-chuangzuozhongxin:before {
  content: "\e70e";
}

.icon-shucheng:before {
  content: "\e6a6";
}

.icon-shucheng1:before {
  content: "\e602";
}

